.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;

}
.registertitle{
    font-size: 50px;
}
.registerform{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}
.registerform > label {
    margin: 10px 0;
  }
.registerinput{
    padding: 10px;
    border: none;
    background-color: white;
    border-radius: 10px;
}
.registerinput:focus {
    outline: none;
  }
.registerbutton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;

}
.registerregisterbutton{
    position: absolute;
    top: 60px;
    right: 20px;    
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}