.settings{
    display: flex;
}
.settingswrapper{
    flex: 9;
    padding: 20px;
}
.settingstitle{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.settingsupdatetitile{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}
.settingsdeletetitle{
    color: red;
    font-size: 12px;
    cursor: pointer;

}
.settingform{
    display: flex;
    flex-direction: column;

}
.settingspp{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.settingspp img{
    width: 70px;
    height: 70px;
    border-radius: 20px;

}




.settingform >label{
    font-size: 20px;
    margin-top: 20px;
}
.settingform >input{
 color: gray;
 margin: 10px 0;
 height: 30px;
 border: none;
 border-bottom: 1px solid lightgray;

}
.settingssubmit{
    width: 150px;
    align-self:center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;

}
    